body {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.781), rgba(0, 0, 0, 0.781)), url("../background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}



@media(min-width:768px){
    .search-field {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column
    }

        .search-field input {
            width: 40%;
        }
}